<div class="mainContainer">
    <div class="imageContainer">
        <div class="imageContent">
            <img src="../../../assets/Capture.png" alt=""/>
        </div>
        <div class="summary">
            hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
        </div>
    </div>
    <div class="tableContainer">
        <table class="tableContent">
            <thead>
                <th>Email Us</th>
                <th>Contact Us</th>
                <th>Address</th>
            </thead>
            <tr>
                <td>vishalr23singh@gmail.com</td>
                <td>+91 9930315160</td>
                <td>3/4,Jokhim Compound,Near Holy Church,P.N Road,Bhandup West,Mumbai 400078</td>
            </tr>
        </table>
    </div>
    <div class="button">
        <button mat-raised-button color="primary" (click)="ContinueShopping()">CONTINUE SHOPPING</button>
    </div>
</div>
